.container {
    position: relative;
    width: 157px;
    height: 226px;
    cursor: pointer;

    &:hover > img {
        opacity: .3;
    }

    .overlay {
        position: absolute;
        inset: 0;
        z-index: -1;

        background-color: var(--black-400);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        font-size: 0.75rem;
        text-align: center;

        text-shadow:
        -1px -1px 0 var(--black-400),  
         1px -1px 0 var(--black-400),
         -1px 1px 0 var(--black-400),
          1px 1px 0 var(--black-400);

        .title {
            margin-top: 1.25rem;
            width: 7.313rem;
        }
    
        .episode {
            margin-bottom: 1.25rem;
        }
    }

  

}