* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-400: #5D526A;
  --purple-500: #4B4453;
  --red-400: #C34A36;
  --blue-400: #009EFA;
  --white-400: #FFFFFF;
  --white-500: #FCF8FF;
  --black-400: #000000;
  --gray-400: #C6C6C6;
}

body {
  background: var(--purple-400);
  color: var(--white-400);

  max-width: 1120px;
  margin: 0 auto;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
  border-width: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
}

